@import url("https://fonts.googleapis.com/css?family=Muli:900");

body {
    font-family: MedievalSharp;
    color: #bfc1c2;
    text-align: center;
    font-size: 1.6rem;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255,255,255,0.4), transparent);
    pointer-events: none;
    z-index: 1;
}





body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: url(https://i.imgur.com/ftmRROw.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    filter: brightness(70%); /* Adjust this value for darkness */
}



.wood-heading {
    font-family: MedievalSharp Bold, serif;
    position: fixed;
    top: 30%; /* Adjust this value to move it lower */
    left: 50%;
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    max-width: 800px;

    color: #fff;
    mix-blend-mode: darken;
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.2), -0.025em 0.025em 0.1em #000,
    -0.05em 0.05em 0.1em #000, -0.1em 0.1em 0.3em #000,
    -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);

    font-size: 2em; /* Example of using relative unit */
    line-height: 1;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;

    white-space: nowrap;
    z-index: 1; /* Set a higher z-index to position it on top of the content */
}



.wood-content {

    position: absolute;
    top: 140%; /* Position it 100% below the top edge of the closest positioned ancestor */
    width: 95%; /* Make it full width of the container */
    text-align: center; /* Align the text in the center */
    display: flex;
    justify-content: center;
    font-size: 1em; /* Example of using relative unit */
    line-height: 1;
}

#header img {
    max-width: 50%;
    display: block;
    height: auto;
    margin: 0 auto;
}


#header {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    padding: 5px;
    position: relative;
}

#header {
    position: relative;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: rgba(0, 0, 0, 0.3); /* Adjusted transparency */
    z-index: -1; /* Set a lower z-index to position it behind the content */
}



#header h1 {
    font-family: 'MedievalSharp', cursive;
    font-size: 2em;
    color: #ff010a;
    text-transform: uppercase;
    margin-top: 10px;
}

#header h1::before {
    content: "⚔ ";
    font-size: 0.8em;
    position: absolute;
    left: -1em;
    top: 0.2em;
}


















