<!-- post.ejs -->
<%- include("partials/header"); -%>
<!--Create a file named post.ejs in your view directory. In this template, you can use title & content to display the post title & content.  -->

<div class="container">
    <h1 class="wood-heading"><%= title %></h1>
    <p class="wood-content"><%= content %></p>
</div>


<%- include("partials/footer"); -%>
