<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Ruth's Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=MedievalSharp" />

</head>
<body>

<header id="header">
  <img src="https://www.starplayer.fr/c/278-category_default/donjons-et-dragons.jpg" alt="Dungeons and dragons logo"/>
  <h1>Journal</h1>
</header>

</body>
</html>





